@charset "utf-8";

@import "helpers/_all";

@import "base/form.scss";
@import "base/grid.scss";
@import "base/reset.scss";
@import "base/orquestra-reset.scss";
@import "base/typograph.scss";

@import "elements/_all";
@import "components/_all";
@import "form/_all";

.content {
  text-rendering: optimizeLegibility;
  font-family: $font-family;
  color: $color-grey-700;
}

.docs-components {
  display: flex;
  flex-flow: row wrap;
  gap: $space-4;
  margin: $space-4 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
