$chip-height: 26px;

.o-chip {
  display: inline-flex;
  line-height: $chip-height;
  align-items: center;
  height: $chip-height;
  padding: 2px $space-4;
  background-color: #fff;
  border: 1px solid $color-grey-200;
  border-radius: $chip-height;
  font-size: $font-m;
  font-weight: $font-normal;
  color: $color-grey-500;
  line-height: 1;

  .o-dot.-pulse {
    padding-left: $space-4;
    color: $color-grey-500;

    &::after {
      left: -#{$space-1};
      top: 3px;
    }

    &::before {
      left: -#{$space-4};
      top: 6px;
    }
  }
}

.o-chip-icon {
  position: relative;
  margin-right: 5px;
  margin-left: -2px;
  font-size: $font-sm;
}
