.o-form-section {
  position: relative;
  padding-bottom: $space-9;

  &:not(:last-of-type) {
    border-bottom: $border-grey-light;
  }

  &.-borderless {
    border-bottom: none;
  }

  &.-fluid {
    max-width: $form-max-width;
    margin-left: auto;
    margin-right: auto;
  }

  &.-gapless {
    padding-bottom: 0;
  }

  &.-space {
    padding-top: $space-9;
  }
}
